.space{
    margin-right : 20px;
}
.main{
    position: relative;
    
}
.layer{
    width: 60%;
}
.tab-content{
    width: 500px;
}
#next{
     
}
#back{
    
}
.hidden{
    visibility:hidden;
}
.none{
    display:none;
}
.opacity{ /*透明度変わる*/
    animation:opacity 1s infinite ease-in-out;
}
/*キーフレーム。*/
@keyframes opacity {

    0% {
    opacity:0.9;
    }
    50% {
    opacity:0.6;
    }
    100% {
    
    opacity:0.9;
    }
    
}   