.main{
    position: relative;
    width:1200px;
}
#back1{
    fill: #e1ffc9;
    display:block;
    width:1200px;
    margin:0 auto;
 }

#ya_1{
    position: absolute;
    width:6%;
    top:48%;
    left:26%;
 }
#next{
     
}
#back{
    
}
.visibility-hidden{
    visibility:hidden;
}
.dispalay-none{
    display:none;
}